*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	color-scheme: light;
}

body {
	min-height: 100vh;

	font-family: var(--ff-body);
	font-size: var(--fs-base);
	font-weight: var(--fw-light);
	line-height: 1.5;
	color: var(--clr-ntrl-dk);
	text-align: center;

	background-color: var(--clr-ntrl-lt);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	text-wrap: balance;
	font-family: var(--ff-heading);
	font-weight: var(--fw-semi-bold);
}

h1 {
	font-size: var(--fs-h1);
}

h2 {
	font-size: var(--fs-h2);
}

h3 {
	font-size: var(--fs-h3);
}

p,
figcaption,
li {
	text-wrap: pretty;
	margin-top: 0;
}

p {
	margin-top: 0;
}

img {
	display: block;
	max-width: 100%;
}

a {
	color: inherit;
}

ul {
	list-style: none;
	padding: 0;
}

button {
	border: none;
	color: inherit;
	background-color: transparent;
	line-height: inherit;
	cursor: pointer;
}

.container {
	--padding: 1rem;

	width: min(var(--desktop), 100% - var(--padding) * 2);
	margin-inline: auto;
}

.subheading {
	font-size: var(--fs-subheading);
	font-family: var(--ff-heading);
}

.icon {
	fill: var(--clr-ntrl-lt);
	stroke: var(--clr-ntrl-lt);
}

.button {
	display: inline-block;
	padding: calc(10 / 16 * 1rem) calc(14 / 16 * 1rem);
	border-radius: calc(24 / 16 * 1rem);
	min-width: calc(122 / 16 * 1rem);
	font-family: var(--ff-button);
	font-weight: var(--fw-bold);
	text-decoration: none;
}

.button-gradient {
	background: linear-gradient(
		to right,
		hsl(13, 100%, 72%),
		hsl(353, 100%, 62%)
	);
	color: var(--clr-ntrl-lt);
}

.button-fill {
	background-color: var(--clr-ntrl-lt);
	color: var(--clr-primary);

	&:hover,
	&:focus-visible {
		background-color: var(--clr-primary-ltr);
		color: var(--clr-ntrl-lt);
	}
}

.button-stroke {
	border: 2px solid var(--clr-ntrl-lt);
	color: var(--clr-ntrl-lt);

	&:hover,
	&:focus-visible {
		background-color: var(--clr-ntrl-lt);
		color: var(--clr-primary-ltr);
	}
}
