header {
	position: absolute;
	width: 100%;
	padding: calc(48 / 16 * 1rem) 0;
	color: var(--clr-ntrl-lt);
}

header .container {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-nav {
	display: none;
	margin-left: calc(54 / 16 * 1rem);

	font-family: var(--ff-nav);

	@media (width > 768px) {
		display: block;
	}
}

.main-nav .list {
	display: flex;
	gap: calc(22 / 16 * 1rem);
	margin: 0;
}

.main-nav .list-item {
	padding-inline: calc(4 / 16 * 1rem);
}

.sub-menu-trigger {
	display: flex;
	align-items: center;
	gap: 12px;
}

.sub-menu-title {
	position: relative;
	font-weight: var(--fw-bold);
	opacity: 0.8;
	transition: opacity var(--tr-duration-medium) var(--tr-timing-fun);

	.sub-menu-trigger:hover &,
	.sub-menu-trigger:focus-visible &,
	.list-item:has(.sub-menu-content.open) & {
		opacity: 1;
	}
}

.sub-menu-title::after,
.user-buttons .login span::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 1px;
	height: 2px;
	width: 0;
	background-color: var(--clr-ntrl-lt);
	border-radius: 4px;
	transition-property: width;
	transition-duration: var(--tr-duration-medium);
	transition-timing-function: var(--tr-timing-fun);
}
.sub-menu-trigger:hover .sub-menu-title::after,
.sub-menu-trigger:focus-visible .sub-menu-title::after,
.list-item:has(.sub-menu-content.open) .sub-menu-title::after,
.user-buttons .login:hover span::after,
.user-buttons .login:focus-visible span::after {
	width: 100%;
}

.sub-menu-trigger .icon {
	opacity: 0.5;
	transition-property: transform, opacity;
	transition-duration: var(--tr-duration-medium);
	transition-timing-function: var(--tr-timing-fun);

	.list-item:has(.sub-menu-content.open) & {
		transform: rotateX(180deg);
		opacity: 1;
	}

	.list-item:has(.sub-menu-trigger:hover) &,
	.list-item:has(.sub-menu-trigger:focus) & {
		opacity: 1;
	}
}

.sub-menu-content {
	position: absolute;
	margin-top: calc(24 / 16 * 1rem);
	padding: calc(26 / 16 * 1rem);
	border-radius: calc(4 / 16 * 1rem);
	transform: translateX(calc(-24 / 16 * 1rem));
	min-width: calc(168 / 16 * 1rem);

	color: var(--clr-ntrl-dk);
	background-color: var(--clr-ntrl-lt);
	font-weight: var(--fw-regular);
	text-align: left;

	opacity: 0;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

	transition-property: display, transform, opacity;
	transition-behavior: allow-discrete;
	transition-duration: var(--tr-duration-medium);
	transition-timing-function: var(--tr-timing-fun);

	&.open {
		display: block;
		opacity: 1;

		@starting-style {
			opacity: 0;
			transform: translateY(-15%) translateX(calc(-24 / 16 * 1rem));
		}
	}
}

.sub-menu-content li:hover,
.sub-menu-content li:focus-visible {
	font-weight: var(--fw-medium);
}
.sub-menu-content a {
	display: block;
	text-decoration: none;
}

.user-buttons {
	display: none;
	align-items: center;
	margin-left: auto;
	gap: calc(20 / 16 * 1rem);

	@media (width > 768px) {
		display: flex;
	}
}

.user-buttons .login {
	display: flex;
	opacity: 0.75;
	font-weight: var(--fw-bold);
	font-family: var(--ff-nav);
	transition: opacity var(--tr-duration-medium) var(--tr-timing-fun);

	&:hover,
	&:focus-visible {
		opacity: 1;
	}
}
.user-buttons .login span {
	position: relative;
}

.mob-menu-toggle {
	padding: calc(4 / 16 * 1rem);

	@media (width > 768px) {
		display: none;
	}
}

.hamburger-icon {
	--bar-height: calc(4 / 16);
	--icon-size: calc(30 / 16);

	--hypot: hypot(var(--icon-size), var(--icon-size));
	--scaleX: calc(var(--hypot) / var(--icon-size));
	--translateY: calc(
		(((var(--icon-size) - var(--bar-height) * 3) / 4) + var(--bar-height) / 2) *
			1rem
	);

	display: flex;
	flex-direction: column;
	width: calc(var(--icon-size) * 1rem);
	aspect-ratio: 1/1;
	justify-content: space-evenly;
	opacity: 0.8;
	transition: opacity var(--tr-duration-medium) var(--tr-timing-fun);

	.mob-menu-toggle:hover &,
	.mob-menu-toggle:focus-visible & {
		opacity: 1;
	}

	& span,
	&::before,
	&::after {
		content: '';
		width: 100%;
		height: calc(var(--bar-height) * 1rem);
		background-color: var(--clr-ntrl-lt);
		border-radius: 10px;
		transition: transform var(--tr-duration-medium),
			opacity var(--tr-duration-short);
		transition-timing-function: var(--tr-timing-fun);
		transform-origin: right center;
	}

	.mob-menu-toggle[aria-expanded='true'] & span {
		opacity: 0;
	}

	.mob-menu-toggle[aria-expanded='true'] &::before {
		transform: translateY(calc(var(--translateY) * -1)) rotate(-45deg)
			scaleX(var(--scaleX));
	}
	.mob-menu-toggle[aria-expanded='true'] &::after {
		transform: translateY(var(--translateY)) rotate(45deg) scaleX(var(--scaleX));
	}
}

.mob-menu {
	position: absolute;
	top: calc(84 / 16 * 1rem);
	right: 0;
	width: min(100%, calc(324 / 16 * 1rem));
	padding: calc(24 / 16 * 1rem);
	border-radius: calc(4 / 16 * 1rem);
	color: var(--clr-ntrl-dk);
	background-color: var(--clr-ntrl-lt);
	box-shadow: 0 21px 38px 0 rgba(75, 88, 98, 0.47);
	-webkit-box-shadow: 0 21px 38px 0 rgba(75, 88, 98, 0.47);
	-moz-box-shadow: 0 21px 38px 0 rgba(75, 88, 98, 0.47);

	transform: translateX(80%);
	opacity: 0;

	transition-property: display, transform, opacity;
	transition-behavior: allow-discrete;
	transition-duration: var(--tr-duration-medium);
	transition-timing-function: var(--tr-timing-fun);

	.mob-menu-toggle[aria-expanded='true'] ~ & {
		display: block;
		opacity: 1;
		transform: translateX(0);
		transition-duration: var(--tr-duration-long);

		@starting-style {
			opacity: 0;
			transform: translateX(80%);
		}
	}
}

.mob-menu hr {
	border: 1px solid var(--clr-ntrl-lts);
	margin-bottom: calc(32 / 16 * 1rem);
}

.mob-menu .btn-wrapper {
	display: flex;
	flex-direction: column;
	gap: calc(24 / 16 * 1rem);
	align-items: center;
}
.mob-menu .login {
	font-weight: var(--fw-semi-bold);
}
