.hero {
	color: var(--clr-ntrl-lt);
	border-bottom-left-radius: 25%;
	background-image: url('../images/bg-pattern-intro-mobile.svg'),
		linear-gradient(to bottom right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
	background-position: center;
	background-repeat: no-repeat;
	background-position: right 65% bottom 67%, 0 0;
}

.hero .container {
	padding-top: calc(178 / 16 * 1rem);
	padding-bottom: calc(84 / 16 * 1rem);
}

.hero .subheading {
	margin-bottom: calc(44 / 16 * 1rem);
}

h1 {
	margin-bottom: calc(16 / 16 * 1rem);
}

.hero .btn-wrapper {
	display: flex;
	gap: calc(10 / 16 * 1rem);
	justify-content: center;
}
