:root {
	/* Fonts */
	--ff-main: 'Overpass', sans-serif;
	--ff-alt: 'Ubuntu', sans-serif;

	--ff-heading: var(--ff-main);
	--ff-body: var(--ff-main);
	--ff-button: var(--ff-alt);
	--ff-nav: var(--ff-alt);

	--fs-base: calc(16 / 16 * 1rem);
	--fs-h1: calc(34 / 16 * 1rem);
	--fs-h2: calc(26 / 16 * 1rem);
	--fs-h3: calc(22 / 16 * 1rem);
	--fs-subheading: calc(18 / 16 * 1rem);

	--fw-light: 300;
	--fw-regular: 400;
	--fw-medium: 500;
	--fw-semi-bold: 600;
	--fw-bold: 700;

	/* Primary */
	--clr-primary: hsl(356, 100%, 66%);
	--clr-primary-ltr: hsl(355, 100%, 74%);
	--clr-primary-dk: hsl(208, 49%, 24%);

	/* Neutral */
	--clr-ntrl-dk: hsl(240, 10%, 16%);
	--clr-ntrl-ltr: hsl(207, 13%, 34%);
	--clr-ntrl-lt: hsl(0, 100%, 100%);
	--clr-ntrl-lts: hsl(240, 7%, 94%);

	/* Transition */
	--tr-duration-short: 0.1s;
	--tr-duration-medium: 0.25s;
	--tr-duration-long: 0.3s;

	--tr-timing-fun: cubic-bezier(0.44, 0, 0.56, 1);
}

@media (width > 768px) {
	:root {
		--fs-h1: calc(62 / 16 * 1rem);
		--fs-h2: calc(38 / 16 * 1rem);
		--fs-h3: calc(26 / 16 * 1rem);
		--fs-subheading: calc(24 / 16 * 1rem);
	}
}
